mixin menuItem(itemTitle, href)
	li(class=(title === itemTitle) ? "active link": "link")
		a(href=href) #{itemTitle}

doctype html
html(lang="fr")
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title=title
		script(src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.min.js")

	body
		header
			nav
				ul
					+menuItem('Home', '/')
					+menuItem('Articles', '/article/list')
					if session.auth
						if session.owner
							+menuItem('Nouvel article', '/article/create')
						+menuItem('Paramètres', '/owner/update')
						+menuItem('Déconnexion', '/logout')
					else 
						+menuItem('Connexion', '/login')
						+menuItem('Inscription', '/register')
	
		main.container
			h1#title #{title}
			block content

		footer 2025 | &#169;Bisous!
