mixin menuItem(itemTitle, href)
	li(class=(title === itemTitle) ? "active link": "link")
		a(href=href) #(itemTitle)

doctype html
html(lang="fr")
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title=title

	body
		header
			nav
				ul
					//- +menuItem('Home', '/')
	
		main.container
			h1#title #{title}
			block content

		footer 2025 | &#169;Bisous!