extends ../layout

block content 
	form(action="/register" method="POST")
		label(for="nickname") Pseudo 
		input(type="text" id="nickname" name="nickname" required)

		label(for="mail") Mail 
		input(type="mail" id="mail" name="mail" required)

		label(for="password") Password 
		input(type="password" id="password" name="password" required)

		label(for="password_verif") Vérification password
		input(type="password" id="password_verif" name="password_verif" required)

		button(type="submit") Envoyer