extend ../layout

block content
		form(action="/comment/update?id=" + comment.id method="POST")
			label(for="content") Commentaire 
			textarea(id="content" name="content" row="4") #{comment.content}

			button(type="submit") Envoyer